:root {
  --color-primary: rgb(8, 84, 179);
  --color-cta: #00a87e;
  --color-cta-hover: rgb(0, 188, 141);
  --color-white: #FFFFFF;
}

/* Base */

body,
input,
select,
textarea,
button {
  font-size: 16px;
}

h1,h2,h3,h4,h5 {
  text-align: center;
}

/* Navigation */

.logo-wrap {
  padding: 20px;
  border-radius: 100px;
  background: white;
  margin-right: 20px;
}

.logo-image {
  height: 100px;
  width: 100px;
}

.mainNavigation {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 30px;
  background: var(--color-primary);
  margin: 0;
}

.mainNavigation li {
  align-self: center;
}

.mainNavigation__item {
  margin: 10px;
}

.mainNavigation__link {
  padding: 10px;
  background-color: var(--color-cta);
  color: var(--color-white);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.mainNavigation__link:hover {
  background-color: var(--color-cta-hover);
}

.mainNavigation__link--admin {
  background-color: #D32F2F
}

.mainNavigation__link--admin:hover {
  background-color: #FF5252;
}

/* Layout */

.mainContainer {
  margin: 20px 40px;
  display: flex;
  justify-content: center;
}

/* Button */

.button {
  color: var(--color-white);
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.button--primary {
  background: var(--color-cta);
}

/* Form */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
}

.form label {
  padding-bottom: 5px;
}